/* navbar */


.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    
    
}

.Download_Resume{
   background-color: transparent;
   height: 40px;
   border-radius: 5px;
   width: 150px;
   color: #0D1321;
   font-weight: 600;
   cursor: pointer;
   
}
.Download_Resume:hover {
    background-color: #0D1321;
    color: white;
    
}

/* navbar */

/* banner */
.banner{
    height: 652px;
   
    background-image: url('../images/Hero-bg.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.group{
    height: 190px;
    width: 190px;
    background-image: url('../images/Group.png');
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-210px);


}
.Headline{
    font-size: 50px;
    text-align: center;
    transform: translateY(-460px);
    
}
.under_headline{
    font-size: 17px;
    text-align: center;
    font-weight: normal;
    transform: translateY(-470px)
}

.Contact_with_me{
    background-color: #0D1321;
    height: 60px;
    border-radius: 9px;
    width: 200px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transform: translateY(-490px);
    font-size: 20px;
    font-weight: normal;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    bottom: 40px;
    left: 50%;

}
/* banner */

/* main */
    
.section-2{
 background-color: #fafafb;
 margin-left: 148px;
 margin-right: 152px;
 height: 1140px;
 height: 1393px;

}
.sectiom-2-1{
    margin: 80px 97px;

}
.My_inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
  
   
}
.h3{
    font-weight: normal;
  }

  .My_inspiration h3 {
    font-weight: normal;
    margin-top: 20px; 
}
.My_inspiration h1, .My_inspiration h3 {
    margin: 0;
}

.video-container {
    width: 900px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    background-color: transparent;
    margin: 0 auto;
    box-shadow: 0 0 0 10px black;
    border: 2px solid black;
    padding: 20px;
}
.video-container iframe {
    width: calc(100% );
    height: calc(100% );
    border: none;
    border-radius: 15px;
}


.float-child {
    width: calc(33.33% - 40px); 
    display: inline-block;
    padding: 20px;
    margin: 0;
    border: 2px solid red;
    box-sizing: border-box; 
    height: 0;
    padding-bottom: 33.33%; 
    vertical-align: top;
}
.green {
    background-color: green;
    color: white;
}
.blue {
    background-color: blue; 
    color: white;
}

.float-child {
    width: 300px;
    display: inline-flex;
    padding: 20px;
    margin: 5px;
    border: 2px solid red;
    box-sizing: border-box;
    height: 310px; 
    vertical-align: top;
    align-self: center;
    border-radius: 20px;
}  
  
  .orange {
    background-color: #fff6f4;
    margin-left: 273px ;
    border: transparent;
  }
  
  .blue {
    background-color: #f2f6fe;
    border: transparent;
  }
  
  .yellow {
    background-color: #fffdf2;
    border: transparent;
  }
  
/* main */
/* footer */
#footer{
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
    border: none;
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
}

.icon a{
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    padding-right: 20px;
    transform: translateX(507px);
   
}


.I_need_support{
 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.9)), url("../images/handshake.jpg");
    width: 950px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 270px;
    border-radius: 20px;
    background-size: cover; 
    
}

.support_headline{
    color: #f2f6fe;
    text-align: center;
    transform: translateY(65px);


}

.support_paragraph{
    transform: translateY(70px);
    color: #f2f6fe;
    text-align: center;
}

.input_text{
    width: 550px;
    height: 50px;
    border-radius: 10px;
    padding-left: 30px;
    transform: translateY(80px);
    margin-left: 130px;
    font-size: 20px;

}

.Submit{
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    transform: translateY(82px);
}




/* footer */


























/* main */