/* navbar */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    
    
}

.Download_Resume{
   background-color: transparent;
   height: 40px;
   border-radius: 5px;
   width: 150px;
   color: #0D1321;
   font-weight: 600;
   cursor: pointer;
   
}
.Download_Resume:hover {
    background-color: #0D1321;
    color: white;
    
}

/* navbar */

/* banner */
.banner{
    height: 652px;
    width: 1440px;
    background-image: url('../images/Hero-bg.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
